*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    color: black;
}
nav ul{
    display: flex;
    height: 100%;
    flex-direction: column;
    min-width: 200px;
    align-self: center;
    justify-content: space-evenly;
    

}
.contenedor{
    width: 80vw;
    height: 720px; 
    margin: 20px;
    width: 90vw;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"logo       estado              busqueda"
                        "logo       estado              busqueda"
                        "menu       mis-publicaciones   novedades"
                        "menu       mis-publicaciones   novedades"
                        "footer     mis-publicaciones   novedades";
}
.contenedor .logo{
    grid-area: logo;
}
.contenedor .menu{
    max-height: 400px;
    grid-area: menu;
    color: black;
    font-size: 25px;
}
.contenedor .estado{
    background-color: rgb(233, 247, 247);
    padding: 0 20px;
    grid-area: estado;

}
.estado textarea{
    font-size: 25px;
    height: 100px;
    width: 800px;
    outline: none;
    border: none;
}
.cargarimagen{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    
    
}
.cargarimagen .enviar,
    .cargar {
    background: #c3dfe0;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
}



.contenedor .mis-publicaciones{
	gap: 20px;
    background-color: rgb(233, 247, 247);
    grid-area: mis-publicaciones;
    margin: 2px;
}
.contenedor-publicaciones{
    display: grid;
    background: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vw   30vw  30vw ;
    justify-content: space-between;
    gap: 20px;
    margin: 2px;

}
.contenedor .novedad{
    padding: 20px;
	background: #fff;
	box-shadow: 0 4px 20px rgba(194,194,194,.25);
	border-radius: 5px;
    margin: 2px;
	display: grid;
    object-fit: cover;
}
.contenedor .busqueda{
    background-color: rgb(233, 247, 247);
    grid-area: busqueda;
    text-align: center;
}
.contenedor .novedades{
    background-color: rgb(233, 247, 247);
    grid-area: novedades;
    margin: 2PX;
}
.contenedor .footer{
    max-height:150px ;
}
.novedad .titulo {
	color: #C00000;
	font-size: 32px;
	margin: 0;
	
}

.novedad .texto {
	line-height: 28px;
	color: #1E1E1E;
}

.novedad button {
	margin-right: 20px;
	text-align: left;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.busqueda{
    padding: 5px; 
}
.busqueda input{
    width: 440px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px; 
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.busqueda i{
    background: #c3dfe0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;



    color: #00C2FF;
    


}



.comentario i {color: #00C2FF;}
.favoritos i {color: #FF0000;}
.retweets i {color: #40C800;}
 
    
     
    
 

}

.contenedor .menu{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

.contenedor header{
    background: black;
    color: white;
    grid-area: header;


}
.contenedor .contenido{
    grid-area: contenido;

}
.contenedor .sidebar{
    grid-column: 3/4;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;

}
.contenedor .widget-1,
.contenedor .widget-2{
    background: blueviolet;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-column: widget-1;
}
.contenedor .widget-2{
    grid-column: widget-2;

}
.contenedor .footer{
    background: gray;
    color:white;
    grid-area: footer;

}

@media (max-width: 700px){

    .contenedor{
        grid-template-areas:"header     header      header" 
                            "contenido  contenido   contenido"
                            "sidebar    sidebar     sidebar"
                            "widget-1   widget-1    widget-2"
                            "footer     footer      footer";

    }
    
} 