<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/stylefeed.css">
    <script src="https://kit.fontawesome.com/6880bc3485.js" crossorigin="anonymous"></script>
    <link href="./css/sb-admin-2.min.css" rel="stylesheet">
    <link href='./static/img/favicon.ICO' rel='shortcut icon' type='image/x-icon'/>
    <title>AcuarioFilia</title>
</head>
    <body>
            <nav class="navbar navbar-dark bg-dark justify-content-between" style="background-color:#e3f2fd;">
                <a class="navbar-brand" href="#">
                    AcuarioFilia
                </a>
                <form class="form-inline">
                    <table>
                        <td>
                        <div><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </td>
                        <td><div><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div></div></td>
                    </table>
                </form>
            </nav>
            <div class="contenedor">
                
                <div class=logo>
                    <img src="./static/img/logo3.png" alt="logo.jpg" width="">
                </div>
                <div class="estado">
                    <textarea name="comentarios" >¿Quieres contarnos algo?</textarea>
                    <div class="cargarimagen">
                        <div class="cargar">
                            <i class="far fa-images" icon> +</i>
                        </div>
                        <div class="enviar">
                            <i class="far fa-paper-plane"> Enviar</i>
                        </div>
                        
                    </div>
            
                </div>
<!--                 <div class="busqueda">
                    <input type="text" name="busqueda" pattern="[A-Za-z0-9]{8,20}" required  placeholder="Busca en Acuariofilia" >
                    <i class="fas fa-search" icon></i>
                </div> -->
                <nav class="menu">
                    <ul>
                        <!--  <button type="button" class="fas fa-home opciones">Inicio</button> -->
                        <li class="fas fa-home " > <a href="perfil.html">Inicio</a></li>
                        <li class="fas fa-binoculars"> <a href="search.html">Explora</a></li> 
                        <li class="fas fa-users"> Amigos</li> 
                        <li class="fas fa-bullhorn"> Notificaciones</li> 
                        <li class="far fa-envelope"> Mensajes</li> 
                        <li class="fas fa-cogs"> <a href="dashboard.html"> Administra </a></li> 
                    </ul>
                </nav>
                <main class="mis-publicaciones">
                    <h1>Mis Publicaciones</h1>
                    <div class = "contenedor-publicaciones">
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <a href="postdetail.html">
                                    <img src="./static/img/elacauriomarinopda.jpg" alt="" height="200">
                                </a>

                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez5.jpg" alt="">
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                            <img src="./static/img/pez3.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez4.png" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez2.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/ACUARIO.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/tiburon.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez3.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez1.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez5.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/ACUARIO.jpg" alt="" >
                            </div>
                        </div>
                        <div class="publicacion">
                            <div class="imagen-publicada">
                                <img src="./static/img/pez4.png" alt="" >
                            </div>
                        </div> 
                    </div>
    
                </main>
                <div class="novedades">
                    <h1>Novedades</h1>
                    <div class="novedad">
                        <h2 class="titulo">Aenean magna neque, aliquam vel pretium at</h2>
                        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id faucibus libero. Duis faucibus, lacus eget tempus posuere, urna arcu mollis arcu, non semper turpis lacus elementum odio. </p>
                        <div class="imagen-publicada">
                            <img src="./static/img/ACUARIO.jpg" alt="" >
                        </div>
                        <div class="botones">
                            <button role="button" class="comentario"><i class="fas fa-comment"></i> 100</button>
                            <button role="button" class="favoritos"><i class="fas fa-heart"></i> 100</button>
                            <button role="button" class="retweets"><i class="fas fa-retweet"></i> 100</button>
                        </div>
                    </div>
                    <div class="novedad">
                        <h2 class="titulo">Aenean magna neque, aliquam vel pretium at</h2>
                        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id faucibus libero. Duis faucibus, lacus eget tempus posuere, urna arcu mollis arcu, non semper turpis lacus elementum odio. </p>
                        <div class="imagen-publicada">
                            <img src="./static/img/tiburon.jpg" alt="" >
                        </div>
                        <div class="botones">
                            <button role="button" class="comentario"><i class="fas fa-comment"></i> 100</button>
                            <button role="button" class="favoritos"><i class="fas fa-heart"></i> 100</button>
                            <button role="button" class="retweets"><i class="fas fa-retweet"></i> 100</button>
                        </div>
                    </div>
                </div>
                <div class="developerteam">
                    <h3>@grupo 10</h3>
                </div>
                <footer class="footer">
                    <h3>tx/h3>
                </footer>
            </div>
    </body>
</html>
